{% extends "base.html" %}

{% block title %}{{ _('historyPageTitle') }}{% endblock %}

{% block content %}
<div id="history" class="card">
    <div class="card-body">
        <h1>{{ _('historyTitle') }}</h1>
        <div class="history-list table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>{{ _('historyHeaderDate') }}</th>
                        <th>{{ _('historyHeaderTotal') }}</th>
                        <th>{{ _('historyHeaderReceived') }}</th>
                        <th>{{ _('historyHeaderChange') }}</th>
                    </tr>
                </thead>
                <tbody id="history-table-body">
                    <!-- History will be inserted here by history.js -->
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('send_docs', path='assets/js/history.js') }}"></script>
{% endblock %}